body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
.li-a-style{
    text-decoration: none;
    color: #555 !important;
    font-weight: normal !important;
}
h4{

}
.com-popup{
    width: 95%;
}
.com-popup-li{
    line-height: 30px;
    min-height: 40px;
}

.t-p{
    background-color: #e9e9e9;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #eee;
    margin: 0 !important;
    line-height: 40px;
}
.t-input{
    margin: 3px 0px;
    height: 40px;
    width: 98%;
    outline: none;
}
.com-popup-li-span{
    color:#959a9c;
}